body{
  margin: 0;
  padding: 0;
}

#view_ajax {
  display: block;
  overflow: auto;
  width: 500px; 
  height: 300px; 
  border: 1px solid #333;
  margin: 0 auto;
  margin-top: 20px;
}

#ajaxForm{
  display: block;
  margin: 0 auto;
  width: 500px; 
  height: 50px;
  margin-top: 10px;
}

#chatInput{
  width: 454px;
}
